name: Test CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build
      run: cargo build --verbose

    - name: Install wasm-pack
      run: cargo install wasm-pack

    - name: Build wasm
      run: wasm-pack build --target web

#     - name: Run tests
#       run: cargo test --verbose
